@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');

.text-body-all{
    font-size: 1.125rem !important;
}

.font-archivo{
    font-family: 'Archivo' !important;
}

.font-size-16{
    font-size: 1rem !important;
}

.font-size-18{
    font-size: 1.125rem !important;
}

.font-size-20{
    font-size: 1.25rem !important;
}

.font-size-24{
    font-size: 1.5rem !important;
}

.font-size-40{
    font-size: 2.5rem !important;
}

.font-size-30{
    font-size: 1.8rem !important;
}

.font-size-34{
    font-size: 2.125rem !important;
}

.font-size-56 {
    font-size: 3.5rem !important;
}

.decoration-none{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87) !important;
}


