
@font-face {
    font-family: 'Archivo';
    src: local('Archivo'), url(~assets/font/Archivo-Light.ttf) format("truetype");
}

.text-body-all{
    font-size: 1.125rem !important;
}

.font-archivo{
    font-family: 'Archivo' !important;
}

.font-size-14{
    font-size: 0.875rem !important;
}

.font-size-16{
    font-size: 1rem !important;
}

.font-size-18{
    font-size: 1.125rem !important;
}

.font-size-20{
    font-size: 1.25rem !important;
}

.font-size-22{
    font-size: 1.375rem !important;
}

.font-size-24{
    font-size: 1.5rem !important;
}

.font-size-28{
    font-size: 1.75rem !important;
}

.font-size-30{
    font-size: 1.8rem !important;
}

.font-size-34{
    font-size: 2.125rem !important;
}

.font-size-40{
    font-size: 2.5rem !important;
}

.font-size-56 {
    font-size: 3.5rem !important;
}

.decoration-none{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87) !important;
}
.shadow-out{
    box-shadow: none !important;
}

.carousel-black .v-btn .v-btn__content .v-icon {
    color: black !important;
}


.text-purple{
    color: #773DBD;
}

.text-green{
    color: #19D3C5;
}

.secondary-color{
    background-color: #773DBD !important;
}
.secondary-color:hover{
    background-color: #6533A3 !important;
}


.primary-color{
    background-color: #19D3C5 !important;
}
.primary-color:hover{
    background-color: #1EC2B6 !important;
}

.white-color{
    background-color: white;
    border-radius: 20px !important;
    border: #1EC2B6 1px solid !important;
}
.white-color:hover{
    background-color: #1EC2B6 !important;
}

.primary-color-2{
    background-color: rgba(25, 211, 197, 0.3) !important;
}

.default-color{
    background-color: #130A1F !important;
    color: white !important;
}
.default-color:hover{
    background-color: #FFFFFF !important;
    color: black !important;
}


.sections > .v-slide-group.v-item-group > .v-slide-group__next, .v-slide-group.v-item-group > .v-slide-group__prev > .v-icon {
    font-size: 45px !important;
}

.sections > .v-slide-group.v-item-group > .v-slide-group__next, .v-slide-group.v-item-group > .v-slide-group__next > .v-icon {
    font-size: 45px !important;
}


.v-data-table-header{
    background-color: rgba(25, 211, 197, 0.3) !important;
    border-radius: 20px !important;
}

.v-data-table-header  tr  th {
    font-size: 1rem;
    font-weight: bold;
}

.truncate-lines{
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
